Mateusz Pawłowicz <305391@student.agh.edu.pl>
Mateusz Pawłowicz <305391@student.agh.edu.pl> <mpawlowicz@student.agh.edu.pl>
Maria Polak <bloqdymary@gmail.com> <Maria.Polak@spectral-plugins.com>
Maria Polak <bloqdymary@gmail.com> <marias.polak@gmail.com>
Maria Polak <bloqdymary@gmail.com> <305400@student.agh.edu.pl>
Izabela Czajowska <305286@student.agh.edu.pl> <izabelaczajowska@gmail.com>
Jerzy Jędrzejaszek <1111do.gier1111@gmail.com> <jurek.j2505@gmail.com>
Jerzy Jędrzejaszek <1111do.gier1111@gmail.com> <305314@student.agh.edu.pl>
