Mateusz Pawłowicz <305391@student.agh.edu.pl>
Maria Polak <305400@student.agh.edu.pl> Maria Polak <Maria.Polak@spectral-plugins.com>
Izabela Czajowska <305286@student.agh.edu.pl> Izabela Czajowska <izabelaczajowska@gmail.com>
Jerzy Jędrzejaszek <305314@student.agh.edu.pl> FluffyNinjaBrick <jurek.j2505@gmail.com>