{% extends 'base.html' %}

{% block head %}
<title>Simulation</title>
{% endblock %}


{% block simulation_active %} active {%endblock%}

{% block body %}
<div class="container mt-5" id="simulation-content">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="text-center">
                <h1 class="display-4">Your simulation is ready to be started!</h1>
                <p class="lead">Click "Run" once you're ready to start it.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-12 text-center"><strong>Modflow model:</strong></div>
        <div class="col-12 text-center">{{ modflow_proj[0] }}</div>
    </div>
    <div class="row justify-content-center my-2">
        <strong>Hydrus models:</strong>
    </div>

    <div class="row justify-content-center my-2">
        {% for key, shape_info in shapes.items() %}
        <div class="col-2-auto mx-2">
            <table class="table table-sm">
                <caption>{{ key }}</caption>
                <tbody>
                {% for row in shape_info.shape_mask %}
                <tr>
                    {% for cell in row %}
                    <td class="{% if cell==1 %} bg-primary {%endif%} border border-1">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    <div class="row justify-content-end">
        <div class="col-auto">
            <a type="button" id="start-simulation" class="btn btn-secondary" href=""> Run </a>
        </div>
    </div>
</div> <!-- container -->

<div class="container mt-5 justify-content-center">
    <div class="row">
        <div class="alert col-4 offset-md-4 alert-success alert-dismissible" id="start-alert" hidden role="alert">
            Simulation has been started!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert col-4 offset-md-4 alert-danger alert-dismissible" hidden id="error-alert" role="alert">
            Error occurred!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row justify-content-center text-secondary" hidden id="hydrus-calc">
        <div class="col-7-auto ">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            Calculating Hydrus-1d models.
        </div>
    </div>
    <div class="row justify-content-center text-secondary" hidden id="passing-calc">
        <div class="col-7-auto ">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            Passing Hydrus-1d result to Modflow model.
        </div>
    </div>
    <div class="row justify-content-center text-success" hidden id="modflow-calc">
        <div class="col-7-auto ">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            Calculating Modflow model.
        </div>
    </div>

</div> <!-- container -->

{% endblock %}

{% block scripts %}
<script src="/static/js/simulation.js"></script>
{% endblock %}