{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/layout.css">
<title>HP4M | HYDRUS</title>
{% endblock %}

{% block simulation_active %}active{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="display-4">Upload hydrus projects</h1>
                    <p class="lead">Drag and drop project to load it. Click "Next" once you've uploaded all projects
                    </p>
                </div>
                <hr class="my-4">

                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Upload Files</strong></div>
                        <div class="panel-body">

                            <!-- Drop Zone -->
                            <h4>Drag and drop files below</h4>
                            <div class="upload-drop-zone" id="drop-zone">
                                Just drag and drop files here
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <a type="button"
                               {% if (model_names is defined) and model_names %}
                               class="btn btn-secondary"
                               {% else %}
                               class="btn btn-secondary disabled"
                               {% endif %}
                               href="{{ url_for('define_shapes', hydrus_model_index='0') }}">Next</a>
                        </div>
                    </div>
                </div> <!-- /container -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div>
                <h3 style="text-align: center">Models uploaded:</h3>
                <ul class="list-group list-group-flush">
                    {% for name in model_names %}
                    <li class="list-group-item">{{ name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% if upload_error %}
<div style="position: absolute; bottom: 20px; right: 20px;" class="w-25">
    <div class="toast border border-danger" role="alert" id="error-hydrus" aria-live="assertive" aria-atomic="true"
         data-delay="2000" style="border-width: 4px !important;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error</strong>
        </div>
        <div class="toast-body" id="toast-body-error-hydrus">
            Upload HYDRUS model
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="/static/js/uploadHydrus.js"></script>
{% endblock %}