{% extends 'base.html' %}

{% block head %}
<title>Upload modflow project</title>
{% endblock %}

{% block body %}
<h1>Upload modflow project</h1>
<p>Select the modflow project you want to simulate, then click "Submit"</p>
<form action="/upload-modflow" method="POST" enctype="multipart/form-data">
    <div>
        <label>Select project archive</label>
        <div>
            <input type="file" name="archive-input" id="archive-input">
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}