{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/uploadModflow.css">
<title>HP4M | MODFLOW</title>
{% endblock %}

{% block simulation_active %}active{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-9 progress-bar-hp4m">
                <div class="step modflow">
                    <a href="{{url_for('upload_modflow')}}" class="label modflow">1</a>
                    <a href="{{url_for('upload_modflow')}}" class="title modflow">Upload Modflow</a>
                </div>
                <span class="bar-hp4m modflow"></span>
                <span class="bar-hp4m hydrus"></span>
                <div class="step hydrus">
                    <a href="{{url_for('upload_hydrus')}}" class="label hydrus">2</a>
                    <a href="{{url_for('upload_hydrus')}}" class="title hydrus">Upload Hydrus</a>
                </div>
                <span class="bar-hp4m hydrus"></span>
                <span class="bar-hp4m shapes"></span>
                <div class="step shapes">
                    <a href="{{ url_for('define_shapes', hydrus_model_index='0') }}" class="label shapes">3</a>
                    <a href="{{ url_for('define_shapes', hydrus_model_index='0') }}" class="title shapes">Define Shapes</a>
                </div>
                <span class="bar-hp4m shapes"></span>
                <span class="bar-hp4m simulation"></span>
                <div class="step simulation">
                    <a href="{{ url_for('simulation') }}" class="label simulation">4</a>
                    <a href="{{ url_for('simulation') }}" class="title simulation">Run Simulation</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="display-4">Upload modflow project</h1>
                    <p class="lead">Drag and drop the modflow project you want to simulate, then click "Next"</p>
                </div>
                <hr class="my-4">

                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Upload Files</strong></div>
                        <div class="panel-body">

                            <!-- Drop Zone -->
                            <h4>Drag and drop files below</h4>
                            <div class="upload-drop-zone" id="drop-zone-modflow">
                                Just drag and drop files here
                            </div>

                            <!--                            fancy wyświetlanie paska progresji, ale nie jest oskryptowane (pewno z Django może dałoby się to zingegrować albo z JSem, na razie nieplanowane-->
                            <!--                            polecam zaznaczyć całość a potem Ctrl+.-->
                            <!--                            &lt;!&ndash; Progress Bar &ndash;&gt;-->
                            <!--                            <div class="progress">-->
                            <!--                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">-->
                            <!--                                    <span class="sr-only">60% Complete</span>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!-- Upload Finished -->
                            <!--                            <div class="js-upload-finished">-->
                            <!--                                <h3>Processed files</h3>-->
                            <!--                                <div class="list-group">-->
                            <!--                                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>-->
                            <!--                                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <a type="button"
                               {% if (model_names is defined) and model_names %}
                               class="btn btn-secondary"
                               {% else %}
                               class="btn btn-secondary disabled"
                               {% endif %}
                               href="{{ url_for('upload_hydrus') }}">Next</a>
                        </div>

                    </div>
                </div> <!-- /container -->

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div>
                <h3 style="text-align: center">Models uploaded:</h3>
                <ul class="list-group list-group-flush">
                    {% for name in model_names %}
                    <li class="list-group-item">{{ name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<div style="position: absolute; bottom: 20px; right: 20px;" class="w-25">
    <div class="toast border border-danger" role="alert" id="invalid-project-alert" aria-live="assertive"
         aria-atomic="true"
         data-delay="2000" style="border-width: 4px !important;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error</strong>
        </div>
        <div class="toast-body" id="toast-body-error">
            Invalid modflow project
        </div>
    </div>
    {% if upload_error %}
    <div class="toast border border-danger" role="alert" id="error-modflow" aria-live="assertive" aria-atomic="true"
         data-delay="2000" style="border-width: 4px !important;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error</strong>
        </div>
        <div class="toast-body" id="toast-body-error-modflow">
            Upload MODFLOW model
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block scripts %}
<script src="/static/js/uploadModflow.js"></script>
{% endblock %}