/* layout.css Style */
.upload-drop-zone, .upload-drop-zone-modflow {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone, .upload-drop-zone-modflow {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop, .upload-drop-zone-modfow.drop {
  color: #222;
  border-color: #222;
}