.card-display {
    width: 98%;
    height: 100%;
}

.step.modflow, .bar-hp4m.modflow,
.step.hydrus, .bar-hp4m.hydrus,
.step.shapes, .bar-hp4m.shapes {
	background-color: #007bff;
}

.step .label.modflow,
.step .label.hydrus,
.step .label.shapes {
	color: white;
}

.slice-column {
	width: 50%
}

.left {
	float: left;
}

.right {
	float: right;
}