.step.modflow, .bar-hp4m.modflow,
.step.hydrus, .bar-hp4m.hydrus,
.step.shapes, .bar-hp4m.shapes,
.step.simulation, .bar-hp4m.simulation {
	background-color: #007bff;
}

.step .label.modflow,
.step .label.hydrus,
.step .label.shapes,
.step .label.simulation {
	color: white;
}

.slice-column {
	width: 50%
}

.left {
	float: left;
}

.right {
	float: right;
}

.tab-simulation>tbody>tr:nth-child(10n), table>tbody>tr:last-child {
	border-bottom: 2px solid darkgray !important;
}

.tab-simulation>tbody>tr:first-child {
	border-top: 2px solid darkgray !important;
}

.tab-simulation>tbody>tr>td:nth-child(10n), table>tbody>tr>td:last-child{
	border-right: 2px solid darkgray !important;
}

.tab-simulation>tbody>tr>td:first-child{
	border-left: 2px solid darkgray !important;
}
