.step.modflow, .bar-hp4m.modflow,
.step.hydrus, .bar-hp4m.hydrus,
.step.shapes, .bar-hp4m.shapes,
.step.simulation, .bar-hp4m.simulation {
	background-color: #007bff;
}

.step .label.modflow,
.step .label.hydrus,
.step .label.shapes,
.step .label.simulation {
	color: white;
}

.slice-column {
	width: 50%
}

.left {
	float: left;
}

.right {
	float: right;
}