{% extends 'base.html' %}

{% block head %}
    <title>HMSE | Create Project</title>
    <link rel="stylesheet" href="/static/css/createProject.css">
{% endblock %}

{% block body %}
    <div class="container mt-5" id="configuration-content">
        <div class="row justify-content-md-center">

            <div class="col-lg-9">
                <div class="text-center">
                    {% if name %}
                        <h1 class="display-4">Update project: {{ name }}</h1>
                        <p class="lead">Click "Update" to submit edited form</p>
                    {% else %}
                        <h1 class="display-4">Create new project</h1>
                        <p class="lead">Click "Create" to submit form</p>
                    {% endif %}
                </div>
                <form id="form-create-project">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="e.g. ProjectName, no whitespace allowed"
                                {% if name and name is defined %}
                               disabled
                                {% endif %}
                               value="{{ name if name else '' }}">
                        <br>
                        <label for="lat">Latitude (DD format):</label>
                        <input type="text" class="form-control" name="lat" id="lat"
                               value="{{ prev_lat if prev_lat else '' }}" placeholder="e.g. 54.11">
                        <br>
                        <label for="long">Longitude (DD format):</label>
                        <input type="text" class="form-control" name="long" id="long"
                               value="{{ prev_long if prev_long else '' }}" placeholder="e.g. -1.121">
                        <br>
                        <label for="startDate">Start date (YYYY-mm-dd):</label>
                        <input type="text" class="form-control" name="start_date" id="startDate"
                               value="{{ prev_start if prev_start else '' }}" placeholder="e.g. 2021-02-12">
                        <br>
                        <label for="endDate">End date (YYYY-mm-dd):</label>
                        <input type="text" class="form-control" name="end_date" id="endDate"
                               value="{{ prev_end if prev_end else '' }}" placeholder="e.g. 2021-05-12">
                        <br>
                        <label for="spinUp">Spin Up Time (days):</label>
                        <input type="text" class="form-control" name="spin_up" id="spinUp"
                               value="{{ prev_spin_up if prev_spin_up else '' }}" placeholder="e.g. 365">
                    </div>

                    <div class="left slice-column" style="margin: 0 0 20px;">
                        <a type="button" class="btn btn-outline-secondary" href="{{ url_for('project_list') }}">Back</a>
                    </div>
                    <div class="right slice-column" style="text-align: right; margin: 0 0 20px;">
                        {% if name %}
                            <input type="submit" class="btn btn-primary" value="Update">
                        {% else %}
                            <input type="submit" class="btn btn-primary" value="Create">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block toasts %}
    {% with background="bg-success", body="", body_id="toast-success", id="success-project-create" %}
            {% include "toast.html" %}
        {% endwith %}
        {% with background="bg-danger", body="", body_id="toast-body-error", id="error" %}
            {% include "toast.html" %}
        {% endwith %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/createProject.js"></script>
{% endblock %}

