{% extends 'base.html' %}

{% block head %}
    <title>HMSE | HYDRUS | Shape Method</title>
    <link rel="stylesheet" href="/static/css/defineMethod.css">
{% endblock %}

{% block simulation_active %}active{% endblock %}

{% block body %}
    <div class="container mt-5" id="define-method-content">
        <div class="row justify-content-md-center">
            {% include 'progressBar.html' %}

            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="display-4">Select method for defining shapes</h1>
                </div>
            </div>

        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <div class="card card-display">
                    <div class="card-body">
                        <h4 class="card-title">Recharge RCH</h4>
                        <p class="card-text">This method of defining shapes is prepared from recharge file. In this
                            option
                            you will be able to link Hydrus models to the detected zones.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('rch_shapes', rch_shape_index='0') }}"
                           class="btn btn-primary right">Choose</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-display">
                    <div class="card-body">
                        <h4 class="card-title">Define shapes manually</h4>
                        <p class="card-text">In this option you will be able to link Hydrus models to the selected
                            shapes.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('manual_shapes', hydrus_model_index='0') }}" class="btn btn-primary right">Choose</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-9">
            <span class="left" style="padding: 50px 15px;">
                <a type="button" class="btn btn-outline-secondary" href="{{ url_for('upload_hydrus') }}" )>Back</a>
            </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block toasts %}
    {% if error %}
        {% with background="bg-danger", body="Define Method", body_id="toast-body-error-method", id="error-method" %}
            {% include "toast.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/defineMethod.js"></script>
{% endblock %}