{% extends 'base.html' %}

{% block head %}
    <title>HMSE | HYDRUS | {{ modelName }}</title>
    <link rel="stylesheet" href="/static/css/defineShapes.css">
{% endblock %}

{% block simulation_active %}active{% endblock %}

{% block body %}
    <div class="container mt-5" id="define-shapes-content">
        <div class="row justify-content-md-center">
            {% include 'progressBar.html' %}

            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="display-4">Select the fields covered by this Hydrus model</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-2-auto mx-2"><h4>Brush Size</h4></div>
            <div class="col-2-auto">
                <select id="brush-size" class="form-control form-control-sm">
                    <option selected value="0"> 1 Cell </option>
                    <option value="1"> 9 Cells </option>
                    <option value="2"> 25 Cells </option>
                    <option value="3"> 49 Cells </option>
                    <option value="4"> 81 Cells </option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center my-2">
            <strong>Hydrus model: {{ modelName }}</strong>
        </div>

        <div class="row justify-content-center my-2">
            <div class="col-2-auto mx-2">
                <table class="table tab-manual table-sm" id="model-mesh" style="width: 500px">
                    <tbody>
                    {% for row in rows %}
                    <tr class="cell-row"
                        style="height: {{ rows_height[loop.index0] }}px !important; padding:0 !important;">
                        {% for col in cols %}
                        <td class="cell border border-1" id="{{ 'cell_' + row + '_' + col }}"
                            style="width:{{ cols_width[loop.index0] }}px !important; padding:0 !important;">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-9">
            <span class="slice-column left" style="padding: 50px 15px;">
                <a type="button" class="btn btn-outline-secondary"
                   onclick="handleBackButton('{{ modelIndex }}')">Back</a>
            </span>
                <span class="slice-column right" style="padding: 50px 15px;">
                <button type="button" class="btn btn-primary right" id="submitButton"
                        onclick="handleSubmit('{{ modelIndex }}')">Next</button>
            </span>
            </div>
        </div>
    </div>


{% endblock %}

{% block toasts %}
    {% with background="bg-success",body="Shape has been saved!", body_id="", id="successMessage" %}
        {% include "toast.html" %}
    {% endwith %}

    {% if upload_error %}
        {% with background="bg-danger", body="Define Shapes", body_id="toast-body-error-shapes", id="error-shapes" %}
            {% include "toast.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/defineShapes.js"></script>
{% endblock %}
