<div class="row justify-content-md-center">
    <div class="col-lg-9 text-left">
      <div class="text-box">
        <h2>Configure environment</h2>
        <p>&emsp;First step while using local version of [Application Name] is to define paths of
            <strong>Modflow and Hydrus programs executable file</strong>.
            It is necessary to configure it before creating your first Hydrus-Modflow simulation.
            Your settings will be saved in [Application Name] for next usage of the application.
            To configure it now click "Edit Configuration".
        </p>
        <div class="button-text-box">
          <span class="right">
              <a class="btn btn-secondary" href="{{ url_for('configuration')}}"
                 type="button">
                  Edit Configuration
              </a>
          </span>
        </div>
      </div>
    </div>
</div>