{% extends 'base.html' %}

{% block head %}
<title>HMSE</title>
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block home_active %}active{%endblock%}

{% block body %}
<div class="container mt-5" id="configuration-content">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="text-center">
                <h1 class="display-4">Hydrus-Modflow Synergy Engine</h1>
                <h2>an easy way to configure Hydrus-Modflow integration</h2>
                <p class="lead">click "Create Project" to configure a new simulation</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <a type="button" class="btn btn-primary btn-lg" href="{{ url_for('create_project') }}"
               style="margin: 0 0 75px;">
                Create Project
            </a>
        </div>
    </div>
    {% include "homeLocalVersion.html" %}

    <div class="row justify-content-md-center">
        <div class="col-lg-9 text-left">
            <div class="text-box">
                <h2>Select Project</h2>
                <h5>Create a new project</h5>
                <p>
                    &emsp;To prepare a simulation you need to <b>create a new project</b> and
                    <b>fill out the form</b> to define additional configuration. You can later access
                    the project you created through the "List of projects" tab.
                    It is important to provide data in a correct format: <b>coordinates in Decimal Degrees, spin up time as an
                    integer and dates in YYYY-mm-dd format</b>.
                    <br>
                    To create a new project, click "Create Project".
                </p>
                <div class="button-text-box">
                  <span class="right">
                      <a class="btn btn-secondary" href="{{ url_for('create_project') }}"
                         type="button">
                          Create Project
                      </a>
                  </span>
                </div>
                <h5>Choose an existing project</h5>
                <p>
                    &emsp;<b>All existing projects can be found in the "List of projects" tab</b> in the navigation
                    bar at the top of the page. From there you can manage your projects, simulate them, and download
                    results of simulations that have already been completed.
                    <br>
                    Click "Choose Project" to go to the list of projects.
                </p>
                <div class="button-text-box">
                  <span class="right">
                      <a class="btn btn-secondary" href="{{ url_for('project_list') }}"
                         type="button">
                          Choose Project
                      </a>
                  </span>
                </div>
                <h5>Project summary</h5>
                <p>
                    &emsp;After choosing a project for simulation you will be redirected to the <b>project summary</b>.
                    This summary can also be found in <b>the "Current Project" tab in the topbar</b>. From here you can
                    run a simulation, edit project details, or modify Hydrus models with weather data files.
                </p>
                <img src="/static/images/summary_project.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-9 text-left">
            <div class="text-box">
                <h2>Configure Simulation</h2>
                <p>
                    &emsp;After choosing a project for simulation you can click the "Simulate" tab on the topbar
                    to configure and run a simulation. First you will be asked to upload Modflow and Hydrus models.
                </p>
                <h5>Upload Modflow model</h5>
                <p>
                    &emsp;The first step of configuring a simulation is to upload a valid Modflow model.
                    You need to provide a <b>.zip archive with the model files placed directly
                    into its root</b>. You can upload the archive by simply dragging and dropping it
                    into the designated area.
                </p>
                <img src="/static/images/upload_modflow.png" class="img-fluid" alt="Responsive image">
                <h5>Upload Hydrus models</h5>
                <p>
                    &emsp;The second step is to upload valid Hydrus models. Like for the Modflow model,
                    you need provide a <b>.zip archive with the model files placed directly
                    in the root</b>. As previously, you upload the model by dragging and dropping it into
                    the provided drop zone. You can upload more than one Hydrus model.
                </p>
                <img src="/static/images/upload_hydrus.png" class="img-fluid" alt="Responsive image">
                <h5>Define method</h5>
                <p>
                    &emsp;The third step is to split the Modflow model into areas and assign the Hydrus models to
                    them. To do that you need to <b>choose a method for defining shapes</b>. There are two options -
                    "Recharge RCH" and "Define shapes manually". The first option does the work for you, detecting
                    shapes in the .rch file of the provided Modflow model. The second one allows you to define custom
                    shapes manually. Choose the approach that's best for your simulation.
                </p>
                <img src="/static/images/define_method.png" class="img-fluid" alt="Responsive image">
                <h5>Recharge RCH method</h5>
                <p>
                </p>
                <img src="/static/images/rch_method.png" class="img-fluid" alt="Responsive image">
                <h5>Manual method</h5>
                <p>
                </p>
                <img src="/static/images/manual_method.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-9 text-left">
            <div class="text-box">
                <h2>Load Weather Data</h2>
                <p>&emsp;You can modify the Hydrus models you have loaded into your project by <strong>uploading
                weather data</strong>. To do this, navigate to the upload page, select the model you want to modify
                in the dropdown, and drag-and-drop a <strong>.csv file</strong> with the data you want the model to
                contain. You can access the upload page from the <strong>Upload Hydrus</strong> view during simulation
                configuration, and also from the <strong>Project Summary</strong> found under the "Current Project"
                tab on the topbar.
                </p>
                <h5>File format</h5>
                <p>&emsp;For the modification to succeed, the uploaded weather data file must contain <strong>at least
                as many</strong> daily records as the Hydrus model you want to modify. The file can be longer than the
                model - if that is the case, the model will be updated with the first rows of the uploaded file, and the
                remaining rows will be ignored.
                </p>
                <p>The uploaded data file <strong>must</strong> contain the following columns, under the keys specified below:
                    <ul>
                        <li>the latitude of the measuring station, keyed as "Longitude"</li>
                        <li>the elevation of the measuring station, keyed as "Elevation"</li>
                    </ul>
                The data <strong>may</strong> also contain the following columns:
                    <ul>
                        <li>the maximum temperature, [deg. C], keyed as "Max Temperature"</li>
                        <li>the minimum temperature, [deg. C], keyed as "Min Temperature"</li>
                        <li>the amount of rainfall, [mm], keyed as "Precipitation"</li>
                        <li>the wind speed, [m/s], keyed as "Wind"</li>
                        <li>the relative humidity, number between 0 and 1, keyed as "Relative Humidity"</li>
                        <li>the amount of solar energy received, [MJ/m^2], keyed as "Solar"</li>
                    </ul>
                All rows of data <strong>must contain values for all columns</strong>, empty cells are not allowed.
                </p>
                <p>&emsp;You can choose just some of the columns above to modify your Hydrus models. For example,
                to only update the wind speed and amount of rainfall, create a file containing "Latitude", "Elevation",
                "Wind" and "Precipitation" columns.
                </p>
                <p>&emsp;Files following this format can be downloaded for free from <a href="https://globalweather.tamu.edu/">
                this site</a>, courtesy of the <em>Texas Agricultural and Mechanical University</em>. Use these files
                to modify your models or for reference while preparing your own data.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-9 text-left">
            <h2>Run Simulation</h2>
            <p>&emsp;After defining all shapes you will be redirected to the <b>Simulation Summary</b>. From here,
                <b>click "Run" to start the simulation</b>. If it completes successfully, a button to download
                the results will appear at the bottom of the screen. As mentioned above, you will also be able
                to download results at any time from the list of projects.
            </p>
            <img src="/static/images/simulation_ready.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}