<div class="row justify-content-md-center">
    <div class="col-lg-9 text-left">
      <div class="text-box">
        <h2>Configure Environment</h2>
        <p>&emsp;The first step to using the local version of Hydrus-Modflow Synergy Engine is to <b>define paths to the
            Modflow and Hydrus executable files</b>.
            It is necessary to configure them before creating your first simulation.
            Your settings will be saved for future usage of the application.
            To configure the paths now click "Edit Configuration".
        </p>
        <div class="button-text-box">
          <span class="right">
              <a class="btn btn-secondary" href="{{ url_for('configuration')}}"
                 type="button">
                  Edit Configuration
              </a>
          </span>
        </div>
      </div>
    </div>
</div>