<div class="col-lg-9 progress-bar-hp4m">
    <div class="step modflow">
        <a href="{{url_for('upload_modflow')}}" class="label modflow">1</a>
        <a href="{{url_for('upload_modflow')}}" class="title modflow">Upload Modflow</a>
    </div>
    <span class="bar-hp4m modflow"></span>
    <span class="bar-hp4m hydrus"></span>
    <div class="step hydrus">
        <a href="{{url_for('upload_hydrus')}}" class="label hydrus">2</a>
        <a href="{{url_for('upload_hydrus')}}" class="title hydrus">Upload Hydrus</a>
    </div>
    <span class="bar-hp4m hydrus"></span>
    <span class="bar-hp4m shapes"></span>
    <div class="step shapes">
        <a href="{{ url_for('define_method') }}" class="label shapes">3</a>
        <a href="{{ url_for('define_method') }}" class="title shapes">Define Shapes</a>
    </div>
    <span class="bar-hp4m shapes"></span>
    <span class="bar-hp4m simulation"></span>
    <div class="step simulation">
        <a href="{{ url_for('simulation') }}" class="label simulation">4</a>
        <a href="{{ url_for('simulation') }}" class="title simulation">Run Simulation</a>
    </div>
</div>