{% extends 'base.html' %}

{% block head %}
<title>All projects</title>
{% endblock %}

{% block body %}
<div>
    <h1>Choose an existing project</h1>
    <ul>
    {% for project in projects %}
        <li>
            <h3>{{ project.name }}</h3>
            <a href="{{ url_for('project', project_id=project._id) }}">Open</a>
        </li>
    {% endfor %}
    </ul>
    <h3>or</h3><button>Create a new project</button>
</div>
{% endblock %}

{%  block scripts %}
<script src="/static/js/projectList.js"></script>
{% endblock %}
