{% extends 'base.html' %}

{% block head %}
    <title>HMSE | Projects</title>
    <link rel="stylesheet" href="/static/css/projectList.css">
{% endblock %}

{% block project_list_active %}active{% endblock %}

{% block body %}
    <div class="container mt-5" id="configuration-content">
        <div class="row justify-content-md-center">
            <div class="col-lg-9" style="margin: 0 0 75px">
                <div class="text-center">
                    <h1 class="display-4">Choose source project</h1>
                    <p class="lead">Click "Open" to choose an existing project or click "Create a new project" to
                        prepare a
                        new one</p>
                    <a type="button" class="btn btn-primary btn-lg" href="{{ url_for('create_project') }}">
                        Create a new project
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="text-center">
                    <div class="slice-column right">
                        <form id="form-search">
                            <div class="form-group" style="text-align: right">
                                <input type="submit" class="right btn btn-secondary btn-sm" value="Search"
                                       style="width: 20%">
                                <input type="text" class="right form-control form-control-sm" id="search"
                                       placeholder="e.g. Project Name" style="width: 60%"
                                       value="{{ search_value if search_value else '' }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="text-center">
                    <span class="right" style="margin-top: 1em;">{{ pagination.info }}</span>
                </div>
            </div>
            <div class="col-lg-9">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="project-name-column">Name</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project_name in projects %}
                        <tr>
                            <th scope="row">{{ loop.index + pagination.skip }}</th>
                            <td class="project-name-column">{{ project_name }}</td>
                            <td class="text-right">
                                <a type="button" hidden id="{{ project_name }}" class="btn btn-success btn-sm download"
                                   href="{{ url_for('project_download', project_name=project_name) }}">Results</a>
                                <a type="button" class="btn btn-primary btn-sm"
                                   href="{{ url_for('project', project_name=project_name) }}">Open
                                </a>
                                <a type="button" class="btn btn-secondary btn-sm"
                                   href="{{ url_for('edit_project', project_name=project_name) }}">
                                    Edit
                                </a>
                                <button id="{{ 'deleteProject' + project_name }}" data-toggle="modal"
                                        data-target="#modalDeleteProject"
                                        type="button" class="btn btn-danger btn-sm"
                                        onClick="doDelete('{{ project_name }}', false)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                {{ pagination.links }}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteProject" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Would you like to delete project <b id="projectNameModal"></b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button id="confirmDelete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block toasts %}
    {% if error_project_name %}
        <div class="p-3" style="position: fixed; bottom: 0; right: 0; z-index: 11">
            {% with background="bg-danger", body="Choose correct project", body_id="toast-body-error", id="error" %}
                {% include "toast.html" %}
            {% endwith %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/projectList.js"></script>
{% endblock %}
