{% extends 'base.html' %}

{% block head %}
    <title>HMSE | HYDRUS | Shapes </title>
    <link rel="stylesheet" href="/static/css/rchShapes.css">
{% endblock %}

{% block simulation_active %}active{% endblock %}

{% block body %}
    <div class="container mt-5" id="rch-shapes-content">
        <div class="row justify-content-md-center">
            {% include 'progressBar.html' %}

            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="display-4">Select Hydrus model for the selected shape</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-2">
            <div class="col-2-auto">
                {% if current_model and current_model is defined %}
                    <select id="hydrus-model" class="form-control form-control-sm">
                        <option>{{ current_model }}</option>
                        <option value=""> --- Without Model ---</option>
                        {% for model in hydrus_models %}
                            {% if model != current_model %}
                                <option>{{ model }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>

                {% else %}
                    <select id="hydrus-model" class="form-control form-control-sm">
                        <option selected value=""> --- Without Model ---</option>
                        {% for model in hydrus_models %}
                            <option>{{ model }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center my-2">
            <div class="col-2-auto mx-2">
                <span>{{ key }}</span><br>
                <table class="table tab-rch table-sm" style="width: 500px">
                    <tbody>
                    {% for row in shape_mask %}
                        <tr style="height: {{ rows_height[loop.index0] }}px !important; padding:0 !important;">
                            {% for cell in row %}
                                <td class="{% if cell==1 %} bg-primary {% endif %} border border-1"
                                    style="width:{{ cols_width[loop.index0] }}px !important; padding:0 !important;">
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-9">
            <span class="slice-column left" style="padding: 50px 15px;">
                <a type="button" class="btn btn-outline-secondary" id="backButton"
                   onclick="handleBackButton('{{ rch_shape_index }}')">Back</a>
            </span>
                <span class="slice-column right" style="padding: 50px 15px;">
                <button type="button" class="btn btn-primary right" id="submitButton"
                        {% if current_model and current_model is defined %}
                        onclick="handleSubmit('{{ rch_shape_index }}', '{{ current_model }}')"
                        {% else %}
                        onclick="handleSubmit('{{ rch_shape_index }}', null)"
                        {% endif %}>
                    Next
                </button>
            </span>
            </div>
        </div>
    </div>

{% endblock %}

{% block toasts %}
    {% with background="bg-success",body="", body_id="toast-body-success-rch-shapes", id="success-rch-shapes" %}
        {% include "toast.html" %}
    {% endwith %}
    {% with background="bg-danger", body="", body_id="toast-body-error-rch-shapes", id="error-rch-shapes" %}
        {% include "toast.html" %}
    {% endwith %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/rchShapes.js"></script>
{% endblock %}
