{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/uploadModflow.css">
<title>HP4M | MODFLOW</title>
{% endblock %}

{% block simulation_active %}active{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container mt-5">
        <div class="row justify-content-md-center">
            {% include 'progressBar.html' %}

            <div class="col-lg-9">
                <div class="text-center">
                    <h1 class="display-4">Upload modflow project</h1>
                    <p class="lead">Drag and drop the modflow project you want to simulate, then click "Next"</p>
                </div>
                <hr class="my-4">

                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Upload Files</strong></div>
                        <div class="panel-body">

                            <!-- Drop Zone -->
                            <h4>Drag and drop files below</h4>
                            <div class="upload-drop-zone" id="drop-zone-modflow">
                                Just drag and drop files here
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <a type="button"
                               {% if (model_name is defined) and model_name %}
                               class="btn btn-secondary"
                               {% else %}
                               class="btn btn-secondary disabled"
                               {% endif %}
                               href="{{ url_for('upload_hydrus') }}">Next</a>
                        </div>

                    </div>
                </div> <!-- /container -->

            </div>
        </div>
    </div>
</div>
{% if model_name != None %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div>
                <h3 style="text-align: center">Models uploaded:</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ model_name }}</li>
                    <button onClick="doDelete('{{model_name}}')">Remove</button>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div style="position: absolute; bottom: 20px; right: 20px;" class="w-25">
    <div class="toast border border-danger" role="alert" id="invalid-project-alert" aria-live="assertive"
         aria-atomic="true"
         data-delay="4000" style="border-width: 4px !important;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error</strong>
        </div>
        <div class="toast-body" id="toast-body-error">
            Invalid modflow project
        </div>
    </div>
    {% if upload_error %}
    <div class="toast border border-danger" role="alert" id="error-modflow" aria-live="assertive" aria-atomic="true"
         data-delay="4000" style="border-width: 4px !important;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error</strong>
        </div>
        <div class="toast-body" id="toast-body-error-modflow">
            Upload MODFLOW model
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block scripts %}
<script src="/static/js/uploadModflow.js"></script>
{% endblock %}