{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/uploadModflow.css">
<title>HP4M | WEATHER</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col-lg-9">
        <div class="text-center">
          <h1 class="display-4">Upload weather file</h1>
          <p class="lead">Choose the Hydrus project you want to modify, then drag-and-drop the weather file</p>
        </div>
        <select id="model-select">
          {% for model in hydrus_models %}
            <option value="{{model}}">{{model}}</option>
          {% endfor %}
        </select>
        <hr class="my-4">
        <div class="container" style="background: white; padding: 2em; border-radius: 5px;">
          <div class="panel panel-default" >
            <div class="panel-heading"><strong>Upload Files</strong></div>
            <div class="panel-body">

              <!-- Drop Zone -->
              <h4>Drag and drop files below</h4>
              <div class="upload-drop-zone" id="drop-zone-modflow">
                Just drag and drop files here
              </div>
            </div>
          </div>
        </div> <!-- /container -->

      </div>
    </div>
  </div>
</div>


<div style="position: absolute; bottom: 20px; right: 20px;" class="w-25">
  <div class="toast border border-danger" role="alert" id="error-wrong-modflow" aria-live="assertive"
       aria-atomic="true"
       data-delay="4000" style="border-width: 4px !important;">
    <div class="toast-header bg-danger text-white">
      <strong class="mr-auto">Error</strong>
    </div>
    <div class="toast-body" id="toast-message"><!-- Div for message content --> </div>
  </div>
  {% if upload_error %}
  <div class="toast border border-danger" role="alert" id="error-modflow" aria-live="assertive" aria-atomic="true"
       data-delay="4000" style="border-width: 4px !important;">
    <div class="toast-header bg-danger text-white">
      <strong class="mr-auto">Error</strong>
    </div>
    <div class="toast-body" id="toast-body-error-modflow">
      Upload MODFLOW model
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}

{% block scripts %}
<script src="/static/js/uploadWeatherFile.js"></script>
{% endblock %}