{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/uploadModflow.css">
    <title>HMSE | MODFLOW</title>
{% endblock %}

{% block simulation_active %}active{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-5">
            <div class="row justify-content-md-center">
                {% include 'progressBar.html' %}

                <div class="col-lg-9">
                    <div class="text-center">
                        <h1 class="display-4">Upload Modflow project</h1>
                        <p class="lead">Drag and drop the Modflow project you want to simulate, then click "Next"</p>
                    </div>
                    <hr class="my-4">

                    <div class="container" style="background: white; padding: 2em; border-radius: 5px;">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Upload Files</strong></div>
                            <div class="panel-body">

                                <!-- Drop Zone -->
                                <h6>Drag and drop files below, provide a <b>.zip archive with the model files placed directly in the root</b>.</h6>
                                <div class="upload-drop-zone" id="drop-zone-modflow">
                                    Just drag and drop files here
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <a type="button"
                                        {% if (model_name is defined) and model_name %}
                                   class="btn btn-primary"
                                        {% else %}
                                   class="btn btn-primary disabled"
                                        {% endif %}
                                   href="{{ url_for('upload_hydrus') }}">Next</a>
                            </div>

                        </div>
                    </div> <!-- /container -->

                </div>
            </div>
        </div>
    </div>
    {% if model_name and model_name is defined %}
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-9">
                    <div>
                        <h3 style="text-align: center">Models uploaded:</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="slice-column left">{{ model_name }}</span>
                                <span class="slice-column right">
                                    <button type="button" class="btn btn-danger right" onClick="doDelete('{{ model_name }}')">Remove</button>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block toasts %}
    {% with background="bg-danger", body="", body_id="toast-message", id="error-wrong-modflow" %}
        {% include "toast.html" %}
    {% endwith %}
    {% if upload_error %}
        {% with background="bg-danger", body="Upload MODFLOW model", body_id="toast-body-error-modflow", id="error-modflow" %}
            {% include "toast.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/uploadModflow.js"></script>
{% endblock %}